<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>業務日付計算</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <h1>業務日付計算</h1>
        <form class="form-inline" th:action="@{/datecalculate/calculate}" th:object="${stringDate}" th:method="post">
            <div class="form-group mx-sm-3 mb-2">
                <label for="baseDate" class="sr-only">業務日付</label>
                <input name="baseDate" class="form-control" id="baseDate" placeholder="yyyy/mm/dd">
            </div>
            <button type="submit" class="btn btn-primary mb-2">計算</button>
        </form>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>日付ID</th>
                <th>日付名</th>
                <th>結果</th>
                <th>計算式</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="resultDate : ${resultDates}" th:object="${resultDate}">
                <td th:text="*{id}"></td>
                <td th:text="*{dateId}"></td>
                <td th:text="*{dateName}"></td>
                <td th:text="*{resultDate}"></td>
                <td th:text="*{calculateFormula}"></td>
                <td><a class="btn btn-default btn-xs" th:href="@{/datecalculate/{id}(id=*{id})}">参照</a></td>
                <td><a class="btn btn-default btn-xs" th:href="@{/datecalculate/{id}/edit(id=*{id})}">編集</a></td>
                <td>
                    <form th:action="@{/datecalculate/{id}(id=*{id})}" th:method="delete">
                        <input class="btn btn-default btn-xs" type="submit" value="削除" />
                    </form>
                </td>
            </tr>

            </tbody>

        </table>

        <a href="/datecalculate/new" class="btn btn-default">新規作成</a>

</div>

</body>
</html>