<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Show Player - baseball</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <h1>Show Player</h1>
    <div th:object="${dateCalculateMaster}">
        <div>
            <label>日付ID</label>
            <p th:text="*{dateId}"></p>
        </div>
        <div>
            <label>日付名</label>
            <p th:text="*{dateName}"></p>
        </div>
        <div>
            <label>加算年</label>
            <p th:text="*{year}"></p>
        </div>
        <div>
            <label>加算月</label>
            <p th:text="*{month}"></p>
        </div>
        <div>
            <label>加算日</label>
            <p th:text="*{day}"></p>
        </div>
    </div>
    <div>
        <a class="btn btn-default" th:href="@{/datecalculate/{id}/edit(id=*{id})}">編集</a>
    </div>
    <div class="pull-right">
        <a class="btn btn-link" href="/datecalculate">一覧画面へ</a>
    </div>
</div>
</body>
</html>